$colorWhite: white;
$colorBlack: black;
$colorRed: #fb0052;
$colorLight:  #b2b2b2;
$colorInstagram :  #f12a24; 
$fontDefult: 'poppins', sans-serif !important;
$bgColor:  #07060d; 
$colorBorder : rgba(255, 255, 255, 0.06);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $fontDefult;
}

.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;
    @media(max-width: 1024px){
        padding-left: 60px;
        padding-right: 60px;
    }
}

header{
    position: relative;
 .nav{
    color: $colorWhite;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
 }

  .container{
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  

    .nav-togle{
        display: none;
    }
   
    .navbar{
        list-style: none;
        display: flex;
        gap: 40px;
        z-index: 2;
        li a{
            text-decoration: none;
            color: $colorLight;
            font-weight: 500;
        }
    }
    

    @media(max-width:767px){
        .navbar{
            display: none;
        }
        .nav-togle{
            display: block;
            width: 100%;
            display: flex;
            justify-content: end;
            cursor: pointer;
        }
        .navbar-togle{
            
            background-color: $bgColor;
            position: absolute;
            top:95px;
            left: 50px;
            right: 50px;
            //width: 100%;
            margin: 0 auto;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
           
            line-height: 10px;
            padding: 20px 0;
            transition: 2s ease-in;
            z-index: 99;
            
            
        }
}
    
    
  }

  .sticky{
    background-color:  #02040b;
   /* padding: 0 5px;*/
    position: fixed;
    transition: 0.5s ease-in-out;
    z-index: 999;
    top: 0;
    width: 100%;
}

}

main{
   

    section.hiro{
        position: relative;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-image: url('../files/bg/darkmodelearn.svg');
        background-position: top center;
        background-position-x: center;
        background-position-y: top;

       // background-size: cover;
        background-repeat: no-repeat;
        
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            // background: url('../files/bg/4.png');
            // opacity: 0.1;
            // background-color: #12002f;
            // background: rgb(20,3,59);
            // background: linear-gradient(122deg, rgba(20, 3, 59, 0.8) 43%, rgba(7,5,19,1) 100%);
            // background: rgb(20,3,59);
            // background: linear-gradient(90deg, rgba(20,3,59,0.7) 43%, rgba(61,1,7,1) 100%);
            // background: rgb(241,37,77);
           // background: radial-gradient(ellipse at top left, rgba(6, 3, 14, 0.8) 24%, rgba(236, 39, 239, 0.4) 43%, rgba(9,4,22,0.9) 68%, rgba(14,10,32,1) 86%, rgba(14,10,32,1) 60%);



            // opacity: 0.9;
        }
        .container{
            position: relative;
            z-index: 0;
            color: $colorWhite;

            h2{
                // font-family: 'Fira-sans', sans-serif !important;
                font-size: 2.6rem;
                color: $colorLight;
                margin-bottom: 10px;
                line-height: 60px;
                .are{
                    // font-family: 'Fira-sans', sans-serif !important;
                    color:  $colorRed;
                    font-size: 3.9rem;
                    font-weight: 700;
                    -webkit-text-stroke: $colorWhite;
                    @media(max-width: 767px){
                        font-size: 2.4rem;
                    }
                    
                }
                span{
                    // font-family: 'Fira-sans', sans-serif !important;
                    font-weight: 700;
                    font-size: 3.9rem;
                    color: $colorWhite;
                    @media(max-width: 767px){
                        font-size: 2.4rem;
                    }
                }


                @media(max-width: 767px){
                    font-size: 1.4rem;


                }
            }


            h4{
                font-size: 1.2rem;
                font-weight: 300;
                color:$colorLight;
                @media(max-width: 767px){
                    font-size: 0.8rem;
                }
            }


                ul{
                    position: absolute;
                    top: 200px;
                    right: 128px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    list-style: none;
                    li{
                        font-size: 1.4rem;
                    }
                    .instagram{
                        text-shadow: 1px 1px 10px #fc9914;
                        color: #ff342e;
                     
                    }
                    .twitter{
                        text-shadow: 1px 1px 10px #03a7ef;
                        color: #03a7ef;
                      
                    }
                    .telegram{
                        text-shadow: 1px 1px 10px #1660f3;
                        color: #1660f3;
                    }
                    .facebook{
                        text-shadow: 1px 1px 10px #0326e7;
                    }
                } 
                @media(max-width:767px){
                    .sosmed-{
                        display: none;
                    }
                }  
        }

        
    }


    section.about{
        background-color: $bgColor;
        // border-top: 1px solid rgba(255, 255, 255, 0.6);

        .container {
            
            padding-top: 64px;
            padding-bottom: 64px;

            .gaga{

                max-width: 1600px;
         
                padding-top: 64px;
                padding-bottom: 64px;
                margin: 0 auto;
                border-top: 1px solid $colorBorder;
                border-bottom: 1px solid $colorBorder;
                color: $colorLight;
                font-family: $fontDefult;
                font-size: 1.3rem;
                @media(max-width:767px){
                    border-bottom: none;
                }

                .about-box{
                    display: flex;
                    font-size: 1.1rem;
                    @media(max-width:767px){
                        flex-direction: column;
                        font-size: 1.1rem;
                    }

                   
                    .box{
                        border-right: 1px solid $colorBorder ;
                        // padding-left: 28px;
                        padding-right: 28px;
                        width: 50%;
                        text-align: justify;
                        @media(max-width: 767px){
                            padding: 0;
                            width: 100%;
                            border-right: none ;
                            font-size: 1rem;
                           
                        }   
                    }
                    .box-2{
                        // border-right: 1px solid $colorBorder ;
                        // padding-left: 28px;
                        padding-left: 40px;
                        width: 50%;
                        @media(max-width: 767px){
                            padding: 0;
                            width: 100%;
                            margin-top: 20px;
                            padding-top: 28px;
                            border-top: 1px solid $colorBorder ;

                            
                        }
                      
                        .box-box{
                            padding-bottom: 28px;
                             border-bottom: 1px solid $colorBorder; 
                             
                            .box-nav{
                                display: flex; 
                                cursor: pointer;
                                font-size: 1rem;
                                &:hover{
                                    color: $colorWhite;
                                }
                                .box-box-about-1{
                                    width: 90%;
                                    font-weight: 700;
                                   
                                }
                            }
                            
                             .box-box-about-2{
                                 width: 10%;
                                 margin-left: 10px;
                             }
                        }
                        .todo{
                            display: none;
                        }
                        .down{
                            display: block;
                            margin-top: 20px;
                            // transition: all 1s ease-in-out;
                            animation: growDown 300ms ease-in-out forwards;
                           p{
                               font-size: 0.9rem;
                           }
                        }
                        .bb{
                            padding-top: 28px;
                               
                        }
                    }
                }
                
            }
            
            
        }
        .box-timeline{
            padding: 40px 20px;
            margin-top: 40px;
            background-color: rgba(74, 71, 71, 0.06);
            border-radius: 15px;
            display: flex;
            .box-timeline-typography{
                color: $colorWhite;
                width: 100%; 
                padding-right: 40px;
                text-align: justify;
                p{
                    margin-top: 20px;
                    color: $colorLight
                }
            }
            @media(max-width:767px){
                .box-timeline-typography{
                    padding-right: 0;
                }
            }
        }
       
    }

    section.timeline{

        background-color: $bgColor;
        position: relative;
        .container{
            padding-top: 64px;
            padding-bottom: 64px;

            .box-timeline{
                padding: 40px 20px;
                margin-top: 40px;
                background-color: rgba(74, 71, 71, 0.06);
                border-radius: 15px;
                display: flex;
                
                .box-timeline-materi{
                    color: $colorWhite;
                    width: 50%; 
                    text-align: justify;
                    padding-right: 40px;
                    p{
                        margin-top: 20px;
                        color: $colorLight
                    }
                }
                .box-timeline-typography{
                    color: $colorWhite;
                    width: 100%; 
                    padding-right: 40px;
                    p{
                        margin-top: 20px;
                        color: $colorLight
                    }
                }
                .box-timeline-line{
                    color: $colorWhite;
                    width: 50%;
                    
                    .box-line{
                        border-bottom: 1px solid $colorBorder;
                        padding: 20px 0;
                        display: flex;
                        cursor: pointer;
                        &:hover{
                            border-bottom: 1px solid $colorWhite;
                        }
                        .box-line-1{
                            width: 20%;
                            color: $colorLight
                        }
                        .box-line-2{
                            width: 60%;
                        }
                        .box-line-3{
                            width: 20%;
                        }
                    }
                    
                }
            }
            @media(max-width:767px){
                .box-timeline{
                    flex-direction: column;
                    .box-timeline-materi{
                        width: 100%;
                        padding: 0;
                        p{
                            font-size: 14px;
                        }
                    }
                    .box-timeline-line{
                        width: 100%;
                        margin-top: 20px;
                    }
                    .box-timeline-typography{
                        padding: 0;
                    }
                }

            }
        }
        .modal-overlay{
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            position: absolute;
            background: rgba(0,0,0,0.7);
            z-index: 999;
            display: none;
            justify-content: center;
            align-items: center;

            .modal{
                width: 100%;
                max-width: 650px;
                height: 400px;
                background-color: $colorWhite;
                border-radius: 10px;
                // transform: scale(0);
                transition: 1s ease-out;
            }
        }
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

