* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "poppins", sans-serif !important;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

header {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

header .container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .navbar {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

header .container .navbar li a {
  text-decoration: none;
  color: #b2b2b2;
  font-weight: 500;
}

@media (max-width: 767px) {
  header .container .navbar {
    display: none;
  }
}

main section.hiro {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../files/bg/4.png");
  background-position: center;
  background-size: cover;
}

main section.hiro:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: #14033b;
  background: -webkit-gradient(linear, left top, right top, color-stop(43%, rgba(20, 3, 59, 0.8)), to(#5b051d));
  background: linear-gradient(90deg, rgba(20, 3, 59, 0.8) 43%, #5b051d 100%);
  opacity: 0.9;
}

main section.hiro .container {
  position: relative;
  z-index: 1;
  color: white;
}

main section.hiro .container h2 {
  font-size: 2.6rem;
  color: #b2b2b2;
  margin-bottom: 10px;
  line-height: 60px;
}

main section.hiro .container h2 .are {
  color: #fb0052;
  font-size: 3.8rem;
  font-weight: 700;
  -webkit-text-stroke: white;
}

@media (max-width: 767px) {
  main section.hiro .container h2 .are {
    font-size: 2.4rem;
  }
}

main section.hiro .container h2 span {
  font-weight: 700;
  font-size: 3.8rem;
  color: white;
}

@media (max-width: 767px) {
  main section.hiro .container h2 span {
    font-size: 2.4rem;
  }
}

@media (max-width: 767px) {
  main section.hiro .container h2 {
    font-size: 1.4rem;
  }
}

main section.hiro .container h4 {
  font-size: 1.2rem;
  font-weight: 300;
  color: #b2b2b2;
}

@media (max-width: 767px) {
  main section.hiro .container h4 {
    font-size: 0.8rem;
  }
}

main section.hiro .container ul {
  position: absolute;
  top: 80px;
  right: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  list-style: none;
}

main section.hiro .container ul li {
  font-size: 1.4rem;
}

main section.about {
  background-color: #0e0a20;
}

main section.about .container {
  padding-top: 64px;
  padding-bottom: 64px;
}

main section.about .container h2 {
  text-align: center;
  font-size: 2.6rem;
  color: #b2b2b2;
}

main section.about .container .grid-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */