* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "poppins", sans-serif !important;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

header {
  position: relative;
}

header .nav {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

header .container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .nav-togle {
  display: none;
}

header .container .navbar {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  z-index: 2;
}

header .container .navbar li a {
  text-decoration: none;
  color: #b2b2b2;
  font-weight: 500;
}

@media (max-width: 767px) {
  header .container .navbar {
    display: none;
  }
  header .container .nav-togle {
    display: block;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    cursor: pointer;
  }
  header .container .navbar-togle {
    background-color: #07060d;
    position: absolute;
    top: 95px;
    left: 50px;
    right: 50px;
    margin: 0 auto;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 10px;
    padding: 20px 0;
    -webkit-transition: 2s ease-in;
    transition: 2s ease-in;
    z-index: 99;
  }
}

header .sticky {
  background-color: #02040b;
  /* padding: 0 5px;*/
  position: fixed;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 999;
  top: 0;
  width: 100%;
}

main section.hiro {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../files/bg/darkmodelearn.svg");
  background-position: top center;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}

main section.hiro:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

main section.hiro .container {
  position: relative;
  z-index: 0;
  color: white;
}

main section.hiro .container h2 {
  font-size: 2.6rem;
  color: #b2b2b2;
  margin-bottom: 10px;
  line-height: 60px;
}

main section.hiro .container h2 .are {
  color: #fb0052;
  font-size: 3.9rem;
  font-weight: 700;
  -webkit-text-stroke: white;
}

@media (max-width: 767px) {
  main section.hiro .container h2 .are {
    font-size: 2.4rem;
  }
}

main section.hiro .container h2 span {
  font-weight: 700;
  font-size: 3.9rem;
  color: white;
}

@media (max-width: 767px) {
  main section.hiro .container h2 span {
    font-size: 2.4rem;
  }
}

@media (max-width: 767px) {
  main section.hiro .container h2 {
    font-size: 1.4rem;
  }
}

main section.hiro .container h4 {
  font-size: 1.2rem;
  font-weight: 300;
  color: #b2b2b2;
}

@media (max-width: 767px) {
  main section.hiro .container h4 {
    font-size: 0.8rem;
  }
}

main section.hiro .container ul {
  position: absolute;
  top: 200px;
  right: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  list-style: none;
}

main section.hiro .container ul li {
  font-size: 1.4rem;
}

main section.hiro .container ul .instagram {
  text-shadow: 1px 1px 10px #fc9914;
  color: #ff342e;
}

main section.hiro .container ul .twitter {
  text-shadow: 1px 1px 10px #03a7ef;
  color: #03a7ef;
}

main section.hiro .container ul .telegram {
  text-shadow: 1px 1px 10px #1660f3;
  color: #1660f3;
}

main section.hiro .container ul .facebook {
  text-shadow: 1px 1px 10px #0326e7;
}

@media (max-width: 767px) {
  main section.hiro .container .sosmed- {
    display: none;
  }
}

main section.about {
  background-color: #07060d;
}

main section.about .container {
  padding-top: 64px;
  padding-bottom: 64px;
}

main section.about .container .gaga {
  max-width: 1600px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  color: #b2b2b2;
  font-family: "poppins", sans-serif !important;
  font-size: 1.3rem;
}

@media (max-width: 767px) {
  main section.about .container .gaga {
    border-bottom: none;
  }
}

main section.about .container .gaga .about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
}

@media (max-width: 767px) {
  main section.about .container .gaga .about-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.1rem;
  }
}

main section.about .container .gaga .about-box .box {
  border-right: 1px solid rgba(255, 255, 255, 0.06);
  padding-right: 28px;
  width: 50%;
  text-align: justify;
}

@media (max-width: 767px) {
  main section.about .container .gaga .about-box .box {
    padding: 0;
    width: 100%;
    border-right: none;
    font-size: 1rem;
  }
}

main section.about .container .gaga .about-box .box-2 {
  padding-left: 40px;
  width: 50%;
}

@media (max-width: 767px) {
  main section.about .container .gaga .about-box .box-2 {
    padding: 0;
    width: 100%;
    margin-top: 20px;
    padding-top: 28px;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
  }
}

main section.about .container .gaga .about-box .box-2 .box-box {
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

main section.about .container .gaga .about-box .box-2 .box-box .box-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-size: 1rem;
}

main section.about .container .gaga .about-box .box-2 .box-box .box-nav:hover {
  color: white;
}

main section.about .container .gaga .about-box .box-2 .box-box .box-nav .box-box-about-1 {
  width: 90%;
  font-weight: 700;
}

main section.about .container .gaga .about-box .box-2 .box-box .box-box-about-2 {
  width: 10%;
  margin-left: 10px;
}

main section.about .container .gaga .about-box .box-2 .todo {
  display: none;
}

main section.about .container .gaga .about-box .box-2 .down {
  display: block;
  margin-top: 20px;
  -webkit-animation: growDown 300ms ease-in-out forwards;
          animation: growDown 300ms ease-in-out forwards;
}

main section.about .container .gaga .about-box .box-2 .down p {
  font-size: 0.9rem;
}

main section.about .container .gaga .about-box .box-2 .bb {
  padding-top: 28px;
}

main section.about .box-timeline {
  padding: 40px 20px;
  margin-top: 40px;
  background-color: rgba(74, 71, 71, 0.06);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.about .box-timeline .box-timeline-typography {
  color: white;
  width: 100%;
  padding-right: 40px;
  text-align: justify;
}

main section.about .box-timeline .box-timeline-typography p {
  margin-top: 20px;
  color: #b2b2b2;
}

@media (max-width: 767px) {
  main section.about .box-timeline .box-timeline-typography {
    padding-right: 0;
  }
}

main section.timeline {
  background-color: #07060d;
  position: relative;
}

main section.timeline .container {
  padding-top: 64px;
  padding-bottom: 64px;
}

main section.timeline .container .box-timeline {
  padding: 40px 20px;
  margin-top: 40px;
  background-color: rgba(74, 71, 71, 0.06);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.timeline .container .box-timeline .box-timeline-materi {
  color: white;
  width: 50%;
  text-align: justify;
  padding-right: 40px;
}

main section.timeline .container .box-timeline .box-timeline-materi p {
  margin-top: 20px;
  color: #b2b2b2;
}

main section.timeline .container .box-timeline .box-timeline-typography {
  color: white;
  width: 100%;
  padding-right: 40px;
}

main section.timeline .container .box-timeline .box-timeline-typography p {
  margin-top: 20px;
  color: #b2b2b2;
}

main section.timeline .container .box-timeline .box-timeline-line {
  color: white;
  width: 50%;
}

main section.timeline .container .box-timeline .box-timeline-line .box-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

main section.timeline .container .box-timeline .box-timeline-line .box-line:hover {
  border-bottom: 1px solid white;
}

main section.timeline .container .box-timeline .box-timeline-line .box-line .box-line-1 {
  width: 20%;
  color: #b2b2b2;
}

main section.timeline .container .box-timeline .box-timeline-line .box-line .box-line-2 {
  width: 60%;
}

main section.timeline .container .box-timeline .box-timeline-line .box-line .box-line-3 {
  width: 20%;
}

@media (max-width: 767px) {
  main section.timeline .container .box-timeline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section.timeline .container .box-timeline .box-timeline-materi {
    width: 100%;
    padding: 0;
  }
  main section.timeline .container .box-timeline .box-timeline-materi p {
    font-size: 14px;
  }
  main section.timeline .container .box-timeline .box-timeline-line {
    width: 100%;
    margin-top: 20px;
  }
  main section.timeline .container .box-timeline .box-timeline-typography {
    padding: 0;
  }
}

main section.timeline .modal-overlay {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.timeline .modal-overlay .modal {
  width: 100%;
  max-width: 650px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

@-webkit-keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
/*# sourceMappingURL=main.css.map */