$colorWhite: white;
$colorBlack: black;
$colorRed: #fb0035;
$colorLight:  #b2b2b2; 
$fontDefult: 'poppins', sans-serif !important;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $fontDefult;
}

.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;
    @media(max-width: 1024px){
        padding-left: 60px;
        padding-right: 60px;
    }
}

header{
    color: $colorWhite;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

  .container{
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    .navbar{
        list-style: none;
        display: flex;
        gap: 40px;
        li a{
            text-decoration: none;
            color: $colorLight;
        }
        @media(max-width:767px){
            display: none;
        }
    }
    
  }

}

main{
   

    section.hiro{
        position: relative;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-image: url('../files/bg/4.png');
        background-position: center;
        background-size: cover;
        
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            // background-color: #12002f;
            background: rgb(20,3,59);
            background: linear-gradient(90deg, rgba(20,3,59,0.7) 43%, rgba(61,1,7,1) 100%);
            opacity: 0.9;
        }
        .container{
            position: relative;
            z-index: 1;
            color: $colorWhite;

            h2{
                font-family: 'Fira-sans', sans-serif !important;
                font-size: 2.4rem;
                color: $colorLight;
                margin-bottom: 10px;
                line-height: 50px;
                .are{
                    font-family: 'Fira-sans', sans-serif !important;
                    color:  $colorRed;
                    font-size: 3.8rem;
                    font-weight: 800;
                    -webkit-text-stroke: $colorWhite;
                    @media(max-width: 767px){
                        font-size: 2.4rem;
                    }
                    
                }
                span{
                    font-family: 'Fira-sans', sans-serif !important;
                    font-weight: 800;
                    font-size: 3.8rem;
                    color: $colorWhite;
                    @media(max-width: 767px){
                        font-size: 2.4rem;
                    }
                }

                @media(max-width: 767px){
                    font-size: 1.4rem;
                }
            }
           
        }
        h4{
            font-size: 1.2rem;
            font-weight: 300;
            color:$colorLight;
            @media(max-width: 767px){
                font-size: 0.8rem;
            }
        }
        
    }
}