@import "animated.css";

.grid-1{flex: 0 0 auto; width: 8.33333333%}
.grid-2{flex: 0 0 auto; width: 16.66666667%}
.grid-3{flex: 0 0 auto; width: 25%}
.grid-4{flex: 0 0 auto; width: 33.33333333%;}
.grid-5{flex: 0 0 auto; width: 41.66666667%;}
.grid-6{flex: 0 0 auto; width: 50%;}
.grid-7{flex: 0 0 auto; width: 58.33333333%;}
.grid-8{flex: 0 0 auto; width: 66.66666667;}
.grid-9{flex: 0 0 auto; width: 75%;}
.grid-10{flex: 0 0 auto; width: 83.33333333%;}
.grid-11{flex: 0 0 auto; width: 91.66666667%}
.grid-12{flex: 0 0 auto; width: 100%;}

@media(max-width: 1312px){
	.container{
		max-width: 1200px;
	}
}

@media(max-width: 1217px){
	.container{
		max-width: 1000px;
	}
}
@media (max-width: 984px){
	.container{
		max-width: 850px;
		padding: 0 15px;
		position: relative;
	}
		.container .cons{
	/*position: absolute;*/
	top: 420px;
	right: 0px;
	
}
	.menu-logo{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 20px;
		min-height: 50px;
		width: 100%;
	}
	.menu{
		
		display: block;
		position: relative;
		/*background-color: gray;*/
		

	}
	.menu-nav{

		display: none;



	}
	 .navmenu-toggle{
		position: absolute;
		
		background-color: white;
		display: flex;
		flex-direction: column;
		width: 70%;
		margin: auto;
		margin-top: 15px;
		/*top: 20px;*/
		border-radius: 10px;
		color: black;
		animation: bounceIn 1s linear alternate;

		

	}
	.menu-nav .items-nav a{
		
		color: black;
		

	}
	.menu-nav .items-nav  {
		
		padding: 10px 0;
	}

	.menu .nav-toggle{
		display: block;
		color: white;
		cursor: pointer;
		font-size: 20px;


	}
	.myhiro{
		width: 100%;
		justify-content: center;
		/*flex-direction: column;*/
	}

	/*.grid-1{flex: 0 0 auto; width: 8.33333333%}
	.grid-2{flex: 0 0 auto; width: 16.66666667%}*/
	.grid-3{flex: 0 0 auto; width: 50%}
	.grid-4{flex: 0 0 auto; width: 50%;}
	.grid-5{flex: 0 0 auto; width: 50%;}
	.grid-6{flex: 0 0 auto; width: 50%;}
	.grid-7{flex: 0 0 auto; width: 50%;}
	.grid-8{flex: 0 0 auto; width: 100;}



}

@media (max-width: 891px){
	.container{
		max-width: 650px;
	}
	.container .cons{
	/*position: absolute;*/
	top: 420px;
	right: 0px;
	
}

	.grid-1{flex: 0 0 auto; width: 8.33333333%}
	.grid-2{flex: 0 0 auto; width: 16.66666667%}
	.grid-3{flex: 0 0 auto; width: 50%}
	.grid-4{ width: 50%;}
	.grid-5{flex: 0 0 auto; width: 50%;}
	.grid-6{flex: 0 0 auto; width: 50%;}
	.grid-7{flex: 0 0 auto; width: 25%;}
	.grid-8{flex: 0 0 auto; width: 100;}
/*	.grid-9{flex: 0 0 auto; width: 100%;}
	.grid-10{flex: 0 0 auto; width: 100%;}
	.grid-11{flex: 0 0 auto; width: 100%}
	.grid-12{flex: 0 0 auto; width: 100%;}*/
	
	



}

@media (max-width: 560px){

	.container .cons{
	/*position: absolute;*/
	top: 420px;
	right: 0px;
	
}
.myhiro{
	flex-direction: column;
	justify-content: center;
}
.home-fill{
	
	justify-content: center;

}
.footer-in {
	display: flex;
	justify-content: start;
}
	.grid-1{flex: 0 0 auto; width: 8.33333333%}
	.grid-2{flex: 0 0 auto; width: 16.66666667%}
	.grid-3{flex: 0 0 auto; width: 100%}
	.grid-4{ width: 100%}
	.grid-5{flex: 0 0 auto; width: 100%;}
	.grid-6{flex: 0 0 auto; width: 100%;}
	.grid-7{flex: 0 0 auto; width: 100%;}
	.grid-8{flex: 0 0 auto; width: 100;}
	.grid-9{flex: 0 0 auto; width: 100%;}
	.grid-10{flex: 0 0 auto; width: 100%;}
	.grid-11{flex: 0 0 auto; width: 100%}
	.grid-12{flex: 0 0 auto; width: 100%;}
	



}


